/* Sass Document */

@import 'app/sass/mixins';


*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


body{
	font-family: 'CorporateA-Regular';
	font-size:12px;
	line-height:14px;
	font-weight:300;
}

strong{
	font-family: 'CorporateABold';
	font-weight:700;
}



.clearboth{
	width:100%;
	clear:both;
	display:block;	
}





/********************************
*
*
*	ROW1
*
*
*********************************/


section#row1{
	
	clear:both;
	width:100%;
	display:block;
	overflow:hidden;	

	& .inner{
		
		
		overflow:hidden;

		& .col1{
			
			float:left;
			width:30%;
			background:url(../images/triangles.jpg) no-repeat right bottom;
			
				
				@include breakpoint('mobile'){
					width:100%;
					clear:both;
					display:block;
					background:none;
				}
				
				@include breakpoint('tablet-up'){
					width:100%;
					clear:both;
					display:block;
					/*background:none;*/
				}


			
			
				& .inner{
					width:90%;
					margin:15px auto;
					
						@include breakpoint('mobile'){
							width:100%;
						}
						
						@include breakpoint('tablet-up'){
							width:100%;
						}
				
					
			
				& .langue{
					
					color:#26262b;
					font-size:14px;
					line-height:16px;
					
						@include breakpoint('mobile'){
							margin-left:10px;
						}
					
				}
				
				& #logo{
					background:url(../images/logo-voltige.png) no-repeat center top;
					width:100%;
					height:60px;
					margin:25px 0;
										
						@include breakpoint('tablet'){
							width:auto;
							max-width:100%;
							background-size:contain;	
						}
						
						@include breakpoint('tablet-up'){
							margin:25px 0 0 0;	
						}

										

				}
				
				
				& #perspective-mobile{
					
					display:none;
					position:relative; overflow:hidden;
					
					@include breakpoint('mobile'){
						display:block;
						/*@include fluid-ratio(503px 650px, 320px 418px);*/
						@include fluid-ratio(503px 628px, 320px 430px);
						background-image: url(../images/perspective-exterieur.jpg);
						width:100%;					
						
					}
					
					
								
				}
				
				& .contenu{
					font-family: 'CorporateA-Regular';
					font-size:24px;
					line-height:28px;
					color:#26262b;
					text-align:center;
					margin:120px 0 0 0;
					
						@include breakpoint('tablet-landscape'){
							margin:20px 0 0 0;	
						}
															

						@include breakpoint('mobile'){
							margin:25px 0 0 0;	
							font-size:20px;
							line-height:22px;
							/*position:absolute;
							top:667px;*/
						}

						@include breakpoint('between-mobile-tablet'){
							margin:20px 0 0 0;
							font-size:18px;
							line-height:20px;
						}
						
						@include breakpoint('tablet-up'){
							margin:120px 0 0 0 !important;
							font-size:24px !important;
							line-height:28px !important;
						}

						
						/*& #perspective-mobile{
							
							display:none;
							
							@include breakpoint('mobile'){
								@include fluid-ratio(503px 650px, 320px 418px);
							 	background-image: url(../images/perspective-exterieur.jpg);
							 	width:100%;
							}
						}*/									
					
						& a.telephone{
							font-size:18px;
							line-height:20px;
							color:#26262b;
							
								@include breakpoint('tablet'){
									display:block;
								}
								
								@include breakpoint('tablet-up'){
									font-size:16px;	
								}
						}
						
						
						& ul.medias-sociaux{
							
							width:80px;
							margin:15px auto;
							overflow:hidden;
							
							
							& li{
								float:left;
								margin:0 10px 0 0;
								text-align:center;
								
								& a.instagram{
									display:block;
									background:url(../images/instagram.jpg) no-repeat left top;
									width:30px;
									height:30px;
								}	
								& a.facebook{
									display:block;
									background:url(../images/facebook.jpg) no-repeat left top;
									width:29px;
									height:29px;
								}	

							}
							
						}
						
				}
				
						
						& .triangles{
							display:block;
							background:url(../images/triangles.jpg) no-repeat right bottom;
							width:100%;
							height:154px;
						}
					
				}
				/* inner */

			
		}
		/* col1 */
		
		
		
		& .col2{
			
			float:left;
			width:40%;
			position:relative;
			overflow:hidden;
						
				
				@include breakpoint('mobile'){
					width:100%;
					clear:both;
					display:block;
				}
				
				@include breakpoint('tablet-up'){
					width:100%;
					clear:both;
					display:block;
				}


				& #perspective{
					@include fluid-ratio(503px 654.2px, 320px 418px);
					 background-image: url(../images/perspective-exterieur.jpg);
					 width:100%;
					 overflow:hidden;
					
					
					 @include breakpoint('between-medium-large-landscape'){
						  @include fluid-ratio(650px 585px, 320px 362px);
					 }
					 
					 @include breakpoint('between-medium-desktop-landscape'){
						 @include fluid-ratio(650px 585px, 320px 362px);
					 }
					
					/*
					 @include breakpoint('between-medium-desktop-landscape'){
						  @include fluid-ratio(503px 570px, 320px 362px);
						border:1px solid #00f;
					 }*/
					@include breakpoint('mobile'){
						background:none;
						display:none;
						
					}
					@include breakpoint('tablet-up'){
						/*background:none;
						display:none;*/
						 @include fluid-ratio(800px 1034px, 320px 362px);
					}
					
				/*	@include breakpoint('tablet-landscape'){
						/*background:none;
						display:none;*/
				/*		 @include fluid-ratio(800px 1034px, 320px 362px);
					}*/
					
					
							
				}
			 
		}
		/* col2 */
		
		
		& .voile{
						 background-image: url(../images/voile.png);
						 width:100%;
						 height:calc(100% + 20px);
						 background-size:cover;
						 background-position:center top;
						 /*border:1px solid #0f0;*/
						 position:absolute;
						 top:0;
						 
						/*box-shadow: 9px 0px 50px 9px rgba(0,0,0,0.75);*/
						
						 transform: translatey(0px);
						 
						 animation: float 6s ease-in-out infinite;
						 
						 	@include breakpoint('mobile'){
								height:calc(100% + 20px);
							}
						 
					}
		
		
@keyframes float {
	0% {
		/*box-shadow: 9px 0px 50px 9px rgba(0,0,0,0.6);*/
		transform: translatey(0px);
	}
	50% {
		/*box-shadow: 9px 0px 50px 9px rgba(0,0,0,0.2);*/
		transform: translatey(-20px);
		
	}
	100% {
		/*box-shadow: 9px 0px 50px 9px rgba(0,0,0,0.6);*/
		transform: translatey(0px);
	}
}


		& .col3{
			
			
			float:left;
			width:30%;
			overflow:hidden;
			position:relative;
			
				
				@include breakpoint('mobile'){
					display:none;
					/*width:100%;
					clear:both;
					display:block;
					position:relative;
					padding-bottom:75px;*/
				}
				
				@include breakpoint('tablet-up'){
					display:none;	
				}


			
				& #img-femme-detente{			 
					/* @include fluid-ratio(349px 398px, 320px 365px);*/
					
					 @include fluid-ratio(470px 330px, 320px 201px);
					 background-image: url(../images/img-femme-detente.jpg);
					 
					 
					 @include breakpoint('between-medium-large-landscape'){
						 @include fluid-ratio(465px 290px, 320px 201px);
					 }
					 
					 @include breakpoint('between-medium-desktop-landscape'){
						 @include fluid-ratio(490px 498px, 320px 262px);
					 }
					 
					 
					 @include breakpoint('between-tablet-desktop'){
						  @include fluid-ratio(490px 400px, 320px 262px);
					 }
					/* @include breakpoint('mobile'){
						 width:100%;
						 height:201px;
						 background-size:cover;
					 }*/
					 
					
					
					 
				
					 
					 	& .wrap-contenu{
							position:absolute;
							z-index:999999;
							top:0;
							width:100%;
							height:100%;
							background:#26262b;
							display:none;
							
									@include breakpoint('tablet'){
										background:rgba(38,38,43, 0.5);	
										display:block;
									}
							
									/*@include breakpoint('mobile'){
										display:block;
										clear:both;
										position:relative;
										background:none;
										padding:30px 0;
										top:0px;
									}*/
			
			
			
							
							& .contenu{
								width:75%;
								margin:0 auto;
								text-align:center;
									
									@include breakpoint('between-tablet-medium'){
										width:80%;	
									}
								
									& h3{
										color:#b99d7e;
										font-size:24px;
										line-height:26px;
										text-transform:uppercase;
										margin:40% 0 25px 0;
										
										 	@include breakpoint('between-medium-large-landscape'){
												margin:15% 0 25px 0;
											}
											
											@include breakpoint('between-tablet-desktop'){
												 margin:20% 0 25px 0;
											}
											 
											@include breakpoint('between-tablet-medium'){
												 margin:15% 0 25px 0;
										    }
											 
											@include breakpoint('tablet'){
												font-size:20px;
												line-height:22px;
												margin:10% 0 25px 0;
											}
											
											@include breakpoint('tablet-up'){
												font-size:16px;
												line-height:18px;
												margin:10% 0 10px 0;
											}
											
											/*@include breakpoint('mobile'){
												font-size:18px;
												line-height:20px;
												margin:0;
											}*/
											
									}
									
									& p{
										color:#fff;
										font-size:16px;
										line-height:20px;
										
											
											@include breakpoint('tablet-up'){
												font-size:14px;
												line-height:16px;
											}
											
											/*@include breakpoint('mobile'){
												color:#000;
											}*/
									}
							}
						}
						/* wrap-contenu */

					 
				}
				
				
				& #img-course{		
					 
					/* @include fluid-ratio(349px 398px, 320px 265px);*/
					@include fluid-ratio(470px 330px, 320px 201px);

					background-image: url(../images/img-course.jpg);
					 
					 
					 @include breakpoint('between-medium-large-landscape'){
						  @include fluid-ratio(405px 200px, 320px 201px);
					 }
					 
					 @include breakpoint('between-medium-desktop-landscape'){
						  @include fluid-ratio(490px 498px, 320px 262px);
					 }
					
					 
					 @include breakpoint('between-tablet-desktop-landscape'){
						@include fluid-ratio(490px 400px, 320px 262px);
					 }
					 
					 @include breakpoint('between-tablet-desktop'){
						  @include fluid-ratio(490px 400px, 320px 262px);
					 }
					 
					@include breakpoint('between-tablet-medium'){
						 @include fluid-ratio(490px 410px, 320px 262px);
					}
										
															
					 /*@include breakpoint('mobile'){
						 @include fluid-ratio(349px 400px, 320px 367px);
						 display:block;
						 clear:both;
					 }*/

										
					 	& .wrap-contenu{
							position:absolute;
							z-index:999999;
							top:0;
							width:100%;
							height:100%;
							background:#26262b;
							display:none;
							
							
									@include breakpoint('tablet'){
										background:rgba(38,38,43, 0.5);	
										display:block;
									}

									/*@include breakpoint('mobile'){
										display:block;
										clear:both;
										background:none;
										/*padding:30px 0;
										top:0px;*/
									/*}*/
			
			
			

							
							& .contenu{
								width:75%;
								margin:0 auto;
								text-align:center;
								
								@include breakpoint('between-tablet-medium'){
									width:80%;
								}
								
									& h3{
										color:#b99d7e;
										font-size:24px;
										line-height:26px;
										text-transform:uppercase;
										margin:40% 0 25px 0;
										
										
										 	@include breakpoint('between-medium-large-landscape'){
												margin:15% 0 25px 0;
											}
											
											@include breakpoint('between-tablet-desktop'){
												 margin:20% 0 25px 0;
											}
											
											@include breakpoint('between-tablet-medium'){
												 margin:10% 0 25px 0;
										    }
											 
											@include breakpoint('tablet'){
												font-size:20px;
												line-height:22px;
												margin:10% 0 25px 0;
											}
											
											@include breakpoint('tablet-up'){
												font-size:16px;
												line-height:18px;
												margin:10% 0 10px 0;
											}
											
											
											/*@include breakpoint('mobile'){
												font-size:18px;
												line-height:20px;
												margin:10px 0;
											}*/

									}
									
									& p{
										color:#fff;
										font-size:16px;
										line-height:20px;
										
											
											@include breakpoint('tablet-up'){
												font-size:14px;
												line-height:16px;
											}
											
											/*@include breakpoint('mobile'){
												color:#000;
											}*/
											
									}
							}
						}
						/* wrap-contenu */

					 
				}
				
				
				
				
		}
		/* col3 */

	}
	/* inner */
	
}
/* END row1*/

 

 /* Portrait */
						

section#row2{
	
	clear:both;
	display:block;
	width:100%;
	position:relative;
	
		@include breakpoint('mobile'){
			display:none;
		}
		@include breakpoint('tablet-up'){
			display:none;
		}
	
		& .col1{	
		
			float:left;
			width:30%;
			position:relative;
			
							
				/*@include breakpoint('mobile'){
					width:100%;
					clear:both;
					display:block;
				}*/




				& #img-femme{
					 @include fluid-ratio(349px 396px, 320px 363px);
					 background-image: url(../images/img-femme.jpg);
					 
					 
					 	& .wrap-contenu{
							position:absolute;
							z-index:999999;
							top:0;
							width:100%;
							height:100%;
							background:#26262b;
							display:none;
							
							
									@include breakpoint('tablet'){
										background:rgba(38,38,43, 0.5);	
										display:block;
									}
							

									/*@include breakpoint('mobile'){
										display:block;
										clear:both;
										background:none;
										/*padding:30px 0;
										top:0px;*/
									/*}*/
			
							
							
							& .contenu{
								width:75%;
								margin:0 auto;
								text-align:center;
								
									& h3{
										color:#b99d7e;
										font-size:24px;
										line-height:26px;
										text-transform:uppercase;
										margin:35% 0 25px 0;
										
										
										 @include breakpoint('between-tablet-desktop'){
											 margin:25% 0 25px 0;
										 }
									
									
										
											@include breakpoint('tablet'){
												font-size:20px;
												line-height:22px;
												margin:10% 0 25px 0;
											}
											
											
											@include breakpoint('tablet-up'){
												font-size:16px;
												line-height:18px;
												margin:10% 0 10px 0;
											}
											
											
											/*@include breakpoint('mobile'){
												font-size:18px;
												line-height:20px;
												margin:10px 0;
											}*/
											
										
									}
									
									& p{
										color:#fff;
										font-size:16px;
										line-height:20px;
										
											@include breakpoint('tablet-up'){
												font-size:14px;
												line-height:16px;
											}
											
											/*@include breakpoint('mobile'){
												color:#000;
											}*/

									}
							}
						}
				}
		}
		/* col1 */
	
		& .col2{	
		
			float:left;
			width:40%;
			overflow:hidden;
			position:relative;
			padding-bottom:0px;
			
				@include breakpoint('tablet-up'){
					padding-bottom:0px;	
				}
		

				
				/*@include breakpoint('mobile'){
					width:100%;
					clear:both;
					display:block;
				}*/



				& #img-verres-de-vin{
					
					 @include fluid-ratio(502px 407px, 320px 252px);
					 background-image: url(../images/img-verres-de-vin.jpg);
					 
					 	& .wrap-contenu{
							position:absolute;
							z-index:999999;
							top:0;
							width:100%;
							height:100%;
							background:#26262b;
							display:none;
							
							
									@include breakpoint('tablet'){
										background:rgba(38,38,43, 0.5);	
										display:block;
									}



								/*	@include breakpoint('mobile'){
										display:block;
										clear:both;
										background:none;
										/*padding:30px 0;
										top:0px;*/
								/*	}*/
			


							& .contenu{
								width:85%;
								margin:0 auto;
								text-align:center;
								
											
									@include breakpoint('between-tablet-desktop'){
										width:90%;
								    }
						
									@include breakpoint('tablet'){
										width:95%;
									}
								
									/*@include breakpoint('mobile'){
										width:90%;
									}*/
								
									& h3{
										color:#b99d7e;
										font-size:24px;
										line-height:26px;
										text-transform:uppercase;
										margin:10% 0 20px 0;
										
										
											
											@include breakpoint('between-tablet-desktop'){
												 margin:5% 0 20px 0;
										    }
										
											
											@include breakpoint('between-tablet-medium'){
												margin:5% 0 20px 0;
												font-size:18px;
												line-height:20px;
										    }
										
										
											@include breakpoint('tablet'){
												font-size:20px;
												line-height:22px;
												margin:6% 0 10px 0;
											}
											
											@include breakpoint('tablet-up'){
												font-size:16px;
												line-height:18px;
												margin:6% 0 10px 0;
											}
											
											@include breakpoint('between-mobile-tablet'){
												font-size:14px;
												line-height:18px;
												 margin:3% 0 20px 0;
										    }
										
											
											/*@include breakpoint('mobile'){
												font-size:18px;
												line-height:20px;
												margin:10px 0;
											}*/
											
									}
									
									
									& h4{
										color:#b99d7e;
										font-size:18px;
										line-height:22px;
										text-transform:uppercase;
										margin:25px 0 5px 0;
										
										
											@include breakpoint('tablet'){
												font-size:14px;
												line-height:18px;
												margin:5px 0 10px 0;
											}
											
											@include breakpoint('tablet-up'){
												font-size:14px;
												line-height:18px;
												margin:5px 0 10px 0;
											}
											
											@include breakpoint('between-mobile-tablet'){
												font-size:14px;
												line-height:18px;
												margin:5px 0 10px 0;
										    }										
										
									}
									
									
									
									& p{
										color:#fff;
										font-size:15px;
										line-height:18px;
										
										
											@include breakpoint('between-tablet-medium'){
												font-size:14px;
												line-height:16px;
											}
											
											
											@include breakpoint('tablet-up'){
												font-size:12px;
												line-height:14px;
											}
											
											@include breakpoint('between-mobile-tablet'){
												font-size:12px;
												line-height:14px;
										    }
										

											/*@include breakpoint('mobile'){
												color:#000;
											}*/

									}
									
																		
									& .reservez{
										color:#fff;
									}

							}
							/* contenu */
						}
					 	/* wrap-contenu */
					 
				}
				/* img-verres-de-vin */
		}
		/* col2 */
	
	
		& .col3{	
		
			float:left;
			width:30%;
			overflow:hidden;
			position:relative;
			
				
				/*@include breakpoint('mobile'){
					width:100%;
					clear:both;
					display:block;
				}*/

	
				& #img-homme{
					 @include fluid-ratio(349px 396px, 320px 363px);
					 background-image: url(../images/img-homme.jpg);
					 
					 

					 	 & .wrap-contenu{
							position:absolute;
							z-index:999999;
							top:0;
							width:100%;
							height:100%;
							background:#26262b;
							display:none;
							
							
									@include breakpoint('tablet'){
										background:rgba(38,38,43, 0.5);	
										display:block;
									}
							
												

									/*@include breakpoint('mobile'){
										display:block;
										clear:both;
										background:none;
										/*padding:30px 0;
										top:0px;*/
								/*	}*/
			


							
							& .contenu{
								width:75%;
								margin:0 auto;
								text-align:center;
								
									& h3{
										color:#b99d7e;
										font-size:24px;
										line-height:26px;
										text-transform:uppercase;
										margin:35% 0 25px 0;
										
											 @include breakpoint('between-tablet-desktop'){
												 margin:25% 0 25px 0;
											 }
										
										
											@include breakpoint('tablet'){
												font-size:20px;
												line-height:22px;
												margin:10% 0 25px 0;
											}
											
											@include breakpoint('tablet-up'){
												font-size:16px;
												line-height:18px;
												margin:10% 0 10px 0;
											}
											
											
										/*	@include breakpoint('mobile'){
												font-size:18px;
												line-height:20px;
												margin:10px 0;
											}*/
											
									}
									
									& p{
										color:#fff;
										font-size:16px;
										line-height:20px;
										
											@include breakpoint('tablet-up'){
												font-size:14px;
												line-height:16px;
											}
											
											
											@include breakpoint('between-mobile-tablet'){
												font-size:15px;
												line-height:18px;
										    }											
											
											
											/*@include breakpoint('mobile'){
												color:#000;
											}*/
											
									}
							}
							/* contenu */
						}
					 	/* wrap-contenu */
					 
				}
				/* img-homme */
		}
		/* col3 */
	
}



#row-mobile{
	
	display:none;
	
		@include breakpoint('mobile'){
			display:block;	
		}
		
		@include breakpoint('tablet-up'){
			display:block;
		}
		
		
		& .wrap1{
			
			& #img-femme-detente{
				@include fluid-ratio(470px 330px, 320px 201px);
				background-image: url(../images/img-femme-detente.jpg);
			}
			/* img-femme-detente */
			
			& .contenu{
				width:90%;
				margin:0 auto;
				text-align:center;
				padding:10% 0;
				
				& h3{
					color:#b99d7e;
					font-size:24px;
					line-height:26px;
					text-transform:uppercase;
					margin:0 0 10% 0;
					
						@include breakpoint('tablet'){
							margin:0 0 20px 0;
						}

				}
				
				p{
					font-size:16px;
					line-height:20px;
					color:#000;
				}
			}
		}
		/* wrap1 */
	
		
		& .wrap2{
			
			& #img-course{
				@include fluid-ratio(470px 330px, 320px 201px);
				background-image: url(../images/img-course.jpg);
			}
			/* img-course */
			
			& .contenu{
				width:90%;
				margin:0 auto;
				text-align:center;
				padding:10% 0;
				
				& h3{
					color:#b99d7e;
					font-size:24px;
					line-height:26px;
					text-transform:uppercase;
					margin:0 0 10% 0;
					
						@include breakpoint('tablet'){
							margin:0 0 20px 0;
						}
				}
				
				p{
					font-size:16px;
					line-height:20px;
					color:#000;
				}
			}
		}
		/* wrap2 */
	
	
		
		& .wrap3{
			
			& #img-femme{
					 @include fluid-ratio(349px 396px, 320px 363px);
					 background-image: url(../images/img-femme.jpg);
			}
			/* img-femme */
			
			& .contenu{
				width:90%;
				margin:0 auto;
				text-align:center;
				padding:10% 0;
				
				& h3{
					color:#b99d7e;
					font-size:24px;
					line-height:26px;
					text-transform:uppercase;
					margin:0 0 10% 0;
					
						@include breakpoint('tablet'){
							margin:0 0 20px 0;
						}
				}
				
				p{
					font-size:16px;
					line-height:20px;
					color:#000;
				}
			}
		}
		/* wrap3 */
	
	
		
		& .wrap4{
			
			& #img-verres-de-vin{
					
					 @include fluid-ratio(502px 407px, 320px 252px);
					 background-image: url(../images/img-verres-de-vin.jpg);
			}
			/* img-verres-de-vin */
			
			& .contenu{
				width:90%;
				margin:0 auto;
				text-align:center;
				padding:10% 0;
				
				& h3{
					color:#b99d7e;
					font-size:24px;
					line-height:26px;
					text-transform:uppercase;
					margin:0 0 10% 0;
					
						@include breakpoint('tablet'){
							margin:0 0 20px 0;
						}
				}
				
				& p{
					font-size:16px;
					line-height:20px;
					color:#000;
				}
				
				& .reservez{
					color:#000;
				}

			}
		}
		/* wrap4 */
	
	
		
		& .wrap5{
			
			& #img-homme{
					 @include fluid-ratio(349px 396px, 320px 363px);
					 background-image: url(../images/img-homme.jpg);
					 
			}
			/* img-homme */
			
			& .contenu{
				width:90%;
				margin:0 auto;
				text-align:center;
				padding:10% 0;
				
				& h3{
					color:#b99d7e;
					font-size:24px;
					line-height:26px;
					text-transform:uppercase;
					margin:0 0 10% 0;
					
						@include breakpoint('tablet'){
							margin:0 0 20px 0;
						}


				}
				
				p{
					font-size:16px;
					line-height:20px;
					color:#000;
				}
			}
		}
		/* wrap5 */
	
}




/********************************
*
*
*	FOOTER
*
*
*********************************/

footer#footer{
	
	clear:both;
	width:100%;
	display:block;
	overflow:hidden;
	background:#26262b;
	position:relative;
	top:-2px;
	
		& .inner{
			/*width:1200px;
			margin:0 auto;
			overflow:hidden;*/
			padding:50px 0 75px 0;
			
			
				& .col1{
					
					float:left;
					width:70%;
					text-align:center;
					color:#fff;
					font-family: 'CorporateA-Regular';

					font-size:16px;
					line-height:24px;
					
					padding-bottom:20px;
					
						@include breakpoint('mobile'){
							width:100%;
							clear:both;
							display:block;
							padding:0 20px 20px 20px;
							text-align:center;
						}
						
						& a{
							color:#fff;
							text-decoration:underline;
							
							&:hover{
								color:#72c7f0;
							}
							
						}
						
							& .center{
								
							}
						
					& .innercol{
						width:70%;
						float:right;
						
							@include breakpoint('mobile'){
								width:95%;
								float:none;
								margin:0 auto;
							}	
												
							& .reservez{
								display:none;
								
									@include breakpoint('mobile'){
										display:block;
									}
							}

					}
					
					
				}
				/* .col1 */
				
				
				& .col2{
					
					float:left;
					width:30%;
					
					padding-bottom:50px;
						@include breakpoint('mobile'){
							width:100%;
							clear:both;
							display:block;
							padding-bottom:50px;
						}
					

					& .logo-society{
						display:block;
						background:url(../images/logo-society-1.png) no-repeat center top;
						width:100%;
						height:75px;
						position:relative;
						top:-15px;
					}
					
				}
		}
	
}





/*****************


	POPUP


*****************/

#popup-formulaire{
	display:none;
	position:fixed; 
	z-index:999999; 
	top:0px;
	width:100%; 
	height:100%;
	background:rgba(255, 255, 255, 0.6);
	

		& .inner-popup{
			
			background:#fff;
			position:relative;
			z-index:999999; 
			top:25px;
			height:600px;
			margin:auto; 
		    width: 555px;
			overflow:hidden;
			box-shadow:1px 1px 75px #000;
			
			
				@include breakpoint('mobile'){
					top:0;
					width:100%;	
				}
			
			
				& .content-popup{
					width: 555px;
					height: 600px;
					overflow:scroll;
					font-size:12px;
					color:#000;
					margin:0 auto;
					display:block;
					text-align:center;
					padding-bottom:100px;
					
								@include breakpoint('mobile'){
									width:95%;	
									/*padding-bottom:225px;*/
								}


						& .close-popup{ 
							cursor:pointer;
							font-family:Arial, Helvetica, sans-serif;
							font-size:30px;
							line-height:32px;
							text-align:right;
							float:right;
							
							padding:25px 25px 10px 0;
						}


					
						& .msg-succes{
							width:90%;
							margin:10px auto;
							height:400px;
							font-size:18px;
							line-height:20px;
							font-weight:normal;
							color:#000;
						}
						
					
						& .erreur-msg{
							background-color:#f00;
							width:90%;
							margin:0 auto;
							padding:8px;
							font-size:18px;
							line-height:20px;
							color:#fff;
							font-weight:bold;
						}
					
						& .logo{
							
							background:url(../images/logo-voltige.png) no-repeat left top;
							width:300px;
							height:60px;
							margin:25px auto;
							clear:both;

								@include breakpoint('mobile'){
									width:auto;
									max-width:100%;
									height:57px;
									background-size:contain;
									background-position:center top;
									margin:30px 0;
								}

						}
						
						& p{
							font-size:18px;
							line-height:20px;
							font-weight:normal;
							color:#26262b;
							padding:0 30px;
						}
						
						& .smaller{
							font-size:12px;
							line-height:14px;
							
								@include breakpoint('mobile'){
									display:block;
									clear:both;
								}
						}
					
				}

		}

}



/********************************
*
*
*	FORMULAIRE
*
*
*********************************/


.liste{
	color:#000;
	font-size:18px;
	line-height:20px;
	margin:10px auto;
	text-align:left;
	width:50%;
	
			@include breakpoint('mobile'){
				margin:15px auto;
				width:60%;
			}
	
}

.erreur{
		border:1px solid #f00 !important;
		background:rgba(255, 0, 0, 0.3) !important;
		color:#000;
}

.fantome{
	display:none;
}

form#formulaireInscription,
form#registerForm{
	
	& input[type=text]{
		border:1px solid #000;
		width:90%;
		height:40px;
		margin:10px 0;
	}
	
	& select{
		border:1px solid #000;
		width:90%;
		height:40px;
		margin:10px 0;
	}
	& textarea{
		border:1px solid #000;
		width:90%;
		height:100px;
		margin:10px 0;
	}
	
	& input[type=submit]{
		padding:20px;
		background-color:#72c7f0;
		font-size:24px;
		line-height:26px;
		font-weight:bold;
		color:#fff;
		border:none !important;
		cursor:pointer;
		
	}
	
	#entendu_parler_autre{
		display:none;
	}
}






/********************************
*
*
*	BOUTON EFFET
*
*
*********************************/
.btn{
    color: #fff;
    background: #72c7f0;
    padding: 12px 17px;
    margin: 25px;
    font-family: 'CorporateA-Regular';
   /* border: 3px solid #31302B;*/
    font-size: 26px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
	text-decoration:none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #31302B;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
	
													
			@include breakpoint('tablet-up'){
				margin:15px 10px;
				padding:10px;	
				font-size:20px;
				line-height:22px;
			}
			
			
			@include breakpoint('tablet-landscape'){
				font-size:24px;
			}
			
			@include breakpoint('mobile'){
				margin:15px 10px;
				padding:10px;	
				font-size:20px;
				line-height:22px;
			}

															

}
.btn:hover {
    box-shadow: inset 300px 0 0 0 #31302B;
    color: #FFF;
}




/********************************
*
*
*	FONT FACE
*
*
*********************************/
@font-face {
  font-family: 'CorporateA-Regular';
  src: url('../fonts/CorporateA-Regular.eot');
  src: url('../fonts/CorporateA-Regular.woff2') format('woff2'),
url('../fonts/CorporateA-Regular.woff') format('woff'),
url('../fonts/CorporateA-Regular.ttf') format('truetype'),
url('../fonts/CorporateA-Regular.svg#CorporateA-Regular') format('svg'),
url('../fonts/CorporateA-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: 'CorporateABold';
    src: url('../fonts/CorporateABold.eot');
    src: url('../fonts/CorporateABold.eot') format('embedded-opentype'),
url('../fonts/CorporateABold.woff2') format('woff2'),
url('../fonts/CorporateABold.woff') format('woff'),
url('../fonts/CorporateABold.ttf') format('truetype'),
url('../fonts/CorporateABold.svg#CorporateABold') format('svg');
}





 /*
	@include breakpoint('mobile'){
								
	}
*/

.add-fadeIn{ @include animation('fadeIn 3s linear'); }
.add-rotateIn{ @include animation('rotateIn 3s linear'); }
.add-bounce{ @include animation('bounce 3s linear'); }




@include keyframes('bounce'){
        0%{transform:scale(0); opacity:0;}
        50%{ transform:scale(1.3); opacity:0.4; }
        75%{ transform:scale(0.9); opacity:0.7;}
        100%{ transform:scale(1); opacity:1;}
}
@include keyframes('rotateIn'){
15% {
   transform: rotate(45deg);
  }
50% {
   transform: rotate(100deg);
  }

  80% {
    opacity: .8;
  }

  100% {
    transform: rotate(360deg);
  }
}
  
@include keyframes('fadeIn'){
    0%   { opacity:0; }
  100% { opacity:1; }
}
  
/*
@-webkit-keyframes bounce {
        0%{ transform:scale(0); opacity:0;}
        50%{ transform:scale(1.3); opacity:0.4;}
        75%{ transform:scale(0.9); opacity:0.7;}
        100%{ transform:scale(1); opacity:1;}
}
*/


	